.app{
  margin-left: 30%;
  margin-top: 5%;
}

.copy{
  margin-bottom: 0;
}
.footer{
  padding:5px 0px;
  height: 30px;
 color: white;
 /* background: linear-gradient(89deg, #5e2ca5 0%, #e2f7f8 100%); */
 background: purple;
}